<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over">
    <nav>
      <mat-list>
        <mat-list-item>Pepper</mat-list-item>
        <mat-list-item>Salt</mat-list-item>
        <mat-divider />
        <mat-list-item>Paprika</mat-list-item>
      </mat-list>
    </nav>
  </mat-drawer>
  <mat-drawer-content>
    <app-toolbar [drawer]="drawer" />

    <div class="control">
      <section>
        <header>Trigger global actions</header>
        <nav>
          <button mat-stroked-button [unpatch] (click)="onTickClick()" disableWhenBusyz>AppRef.tick()</button>
          <button
            mat-stroked-button
            [unpatch]
            (click)="onTimeoutClick()"
            disableWhenBusy
            title="Installs a timeout to run in 3s (in ng-zone)"
          >
            setTimeout(...)
          </button>
          <button mat-stroked-button disableWhenBusy (click)="clickNoop()" title="Click with a NoOp">Click</button>
        </nav>
      </section>
      <section>
        <header>Control dirty check coloring</header>
        <nav>
          <label>
            <input
              mat-stroked-button
              [unpatch]
              disableWhenBusy
              type="checkbox"
              #auto_clear
              checked
              (change)="onAutoClearChange($event)"
            />
            Clear dirty check coloring automatically
          </label>
          <span class="filler"></span>
          <button #clear mat-stroked-button [unpatch] (click)="onClearClick()">Clear</button>
        </nav>
      </section>

      <section>
        <header>Play with component input - current value: <span #input_value_field>n/a</span></header>
        <nav>
          <app-trigger-change />
        </nav>
      </section>

      <section>
        <header>Expand or collapse ContentChildren</header>
        <nav>
          <app-expand-children />
        </nav>
      </section>
    </div>

    <main *rxLet="foo$; strategy: 'local'">
      <app-tree />
      <div class="explanation">
        <section>
          <header>ngDoCheck</header>
          <article>
            <p>Lifecycle hook that is called when Angular dirty checks a directive.</p>
            <br />
            'ngDoCheck' gets called to check the changes in the directives in addition to the default algorithm. The
            default change detection algorithm looks for differences by comparing bound-property values by reference
            across change detection runs.<br />
            The ngDoCheck lifecycle hook is triggered even if the the component uses OnPush strategy.
          </article>
        </section>

        <section>
          <header>ngOnChanges</header>
          <article>
            <p>Lifecycle hook that is called when any data-bound property of a directive changes.</p>
            <br />
            `ngOnChanges` is called right after the data-bound properties have been checked and before view and content
            children are checked if at least one of them has changed.
          </article>
        </section>

        <section>
          <header>Good readings</header>
          <ul>
            <li>
              <a
                href="https://blog.angularindepth.com/everything-you-need-to-know-about-change-detection-in-angular-8006c51d206f"
                target="_blank"
                >Everything you need to know about change detection in Angular</a
              >
            </li>
            <li>
              <a
                href="https://blog.thoughtram.io/angular/2016/02/22/angular-2-change-detection-explained.html"
                target="_blank"
                >ANGULAR CHANGE DETECTION EXPLAINED</a
              >
            </li>
          </ul>
        </section>
      </div>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
